<launch>

    <node name="processor0" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor0"/>
    <node name="processor1" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor1"/>
    <node name="processor2" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor2"/>
    <node name="processor3" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor3"/>
    <node name="processor4" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor4"/>
    <node name="processor5" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor5"/>
    <node name="processor6" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor6"/>
    <node name="processor7" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor7"/>
    <node name="processor8" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor8"/>
    <node name="processor9" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor9"/>
    <node name="processor10" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor10"/>
    <node name="processor11" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor11"/>
    <node name="processor12" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor12"/>
    <node name="processor13" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor13"/>
    <node name="processor14" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor14"/>
    <node name="processor15" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor15"/>
    <node name="processor16" pkg="image_processing_ros" type="processor_imgpro_exe" output="screen" args="processor16"/>


    <node name="controller" pkg="image_processing_ros" type="controller_imgpro_exe" output="screen" args="controller">
        <param name="total_processors" type="string" value="16"/>
        <param name="save_dir" type="string" value="/home/parallels/ims/"/>
        <param name="send_delay" type="string" value="0.05"/>
        <param name="namespace" type="string"  value="$(env USER)"/>
        <param name="image_name" type="string" value="/home/parallels/catkin_ws/src/cluster_hat/src/image_processing_ros/example1.jpg"/>
    </node>
</launch>
